USE [master]
GO
/****** Object:  Database [Koi88]    Script Date: 11/13/2024 3:08:27 PM ******/
CREATE DATABASE [Koi88]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Koi88', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HOA\MSSQL\DATA\Koi88.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Koi88_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.HOA\MSSQL\DATA\Koi88_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Koi88].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Koi88]
GO
/****** Object:  Schema [koi88]    Script Date: 11/13/2024 3:08:27 PM ******/
CREATE SCHEMA [koi88]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](100) NULL,
	[firstname] [nvarchar](100) NULL,
	[lastname] [nvarchar](100) NULL,
	[gender] [nvarchar](50) NULL,
	[phone] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[imageUrl] [nvarchar](100) NULL,
	[role_id] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_id] [int] NULL,
	[po_id] [int] NULL,
	[booking_payment_id] [int] NULL,
	[feedback_id] [int] NULL,
	[customer_id] [int] NULL,
	[quote_sent_date] [date] NULL,
	[quote_approved_date] [date] NULL,
	[status] [nvarchar](200) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[quoted_amount] [decimal](10, 2) NULL,
	[booking_date] [date] NULL,
	[fullname] [nvarchar](100) NULL,
	[phone] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[favoritefarm] [nvarchar](200) NULL,
	[estimatedCost] [decimal](10, 2) NULL,
	[favoriteKoi] [nvarchar](200) NULL,
	[gender] [nvarchar](50) NULL,
	[note] [nvarchar](1000) NULL,
	[hotel_accommodation] [nvarchar](100) NULL,
	[isActive] [bit] NULL,
	[consultant_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingPayment]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingPayment](
	[booking_payment_id] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](100) NULL,
	[payment_method_id] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[booking_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NULL,
	[comments] [nvarchar](1000) NULL,
	[customer_id] [int] NULL,
	[status] [nvarchar](100) NULL,
	[feedbackdate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KoiFarm]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KoiFarm](
	[farm_id] [int] IDENTITY(1,1) NOT NULL,
	[farm_name] [nvarchar](100) NULL,
	[location] [nvarchar](200) NULL,
	[contact_info] [nvarchar](max) NULL,
	[imageUrl] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[farm_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KoiFish]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KoiFish](
	[koi_id] [int] IDENTITY(1,1) NOT NULL,
	[variety_id] [int] NULL,
	[imageUrl] [nvarchar](100) NULL,
	[koi_name] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[koi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[payment_method_id] [int] IDENTITY(1,1) NOT NULL,
	[method_name] [nvarchar](50) NULL,
	[description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PO]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PO](
	[po_id] [int] IDENTITY(1,1) NOT NULL,
	[total_amount] [decimal](10, 2) NULL,
	[koi_delivery_date] [date] NULL,
	[koi_delivery_time] [time](7) NULL,
	[status] [nvarchar](100) NULL,
	[Delivery_Location] [nvarchar](200) NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[po_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PODetail]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PODetail](
	[po_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[po_id] [int] NULL,
	[koi_id] [int] NULL,
	[farm_id] [int] NULL,
	[deposit] [decimal](10, 2) NULL,
	[total_koi_price] [decimal](10, 2) NULL,
	[quantity] [int] NULL,
	[Day] [date] NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[po_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POPayment]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POPayment](
	[po_payment_id] [int] IDENTITY(1,1) NOT NULL,
	[po_id] [int] NULL,
	[payment_date] [date] NULL,
	[payment_method_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[po_payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecialVariety]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialVariety](
	[special_variety_id] [int] IDENTITY(1,1) NOT NULL,
	[farm_id] [int] NULL,
	[variety_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[special_variety_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trip]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trip](
	[trip_id] [int] IDENTITY(1,1) NOT NULL,
	[trip_name] [nvarchar](100) NULL,
	[price_total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripDetail]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripDetail](
	[trip_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[main_topic] [nvarchar](200) NULL,
	[sub_topic] [nvarchar](max) NULL,
	[note_price] [nvarchar](300) NULL,
	[Day] [date] NULL,
	[trip_id] [int] NULL,
	[farm_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[trip_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variety]    Script Date: 11/13/2024 3:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variety](
	[variety_id] [int] IDENTITY(1,1) NOT NULL,
	[variety_name] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[imageUrl] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[variety_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([booking_payment_id])
REFERENCES [dbo].[BookingPayment] ([booking_payment_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([consultant_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([feedback_id])
REFERENCES [dbo].[Feedback] ([feedback_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([po_id])
REFERENCES [dbo].[PO] ([po_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trip] ([trip_id])
GO
ALTER TABLE [dbo].[BookingPayment]  WITH CHECK ADD  CONSTRAINT [FK_BookingPayment_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[BookingPayment] CHECK CONSTRAINT [FK_BookingPayment_Booking]
GO
ALTER TABLE [dbo].[BookingPayment]  WITH CHECK ADD  CONSTRAINT [fk_bookingpayment_paymentmethod] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[PaymentMethod] ([payment_method_id])
GO
ALTER TABLE [dbo].[BookingPayment] CHECK CONSTRAINT [fk_bookingpayment_paymentmethod]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[KoiFish]  WITH CHECK ADD FOREIGN KEY([variety_id])
REFERENCES [dbo].[Variety] ([variety_id])
GO
ALTER TABLE [dbo].[PODetail]  WITH CHECK ADD FOREIGN KEY([farm_id])
REFERENCES [dbo].[KoiFarm] ([farm_id])
GO
ALTER TABLE [dbo].[PODetail]  WITH CHECK ADD FOREIGN KEY([koi_id])
REFERENCES [dbo].[KoiFish] ([koi_id])
GO
ALTER TABLE [dbo].[PODetail]  WITH CHECK ADD FOREIGN KEY([po_id])
REFERENCES [dbo].[PO] ([po_id])
GO
ALTER TABLE [dbo].[POPayment]  WITH CHECK ADD FOREIGN KEY([po_id])
REFERENCES [dbo].[PO] ([po_id])
GO
ALTER TABLE [dbo].[POPayment]  WITH CHECK ADD  CONSTRAINT [FK_POPayment_PO_PaymentMethod] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[PaymentMethod] ([payment_method_id])
GO
ALTER TABLE [dbo].[POPayment] CHECK CONSTRAINT [FK_POPayment_PO_PaymentMethod]
GO
ALTER TABLE [dbo].[SpecialVariety]  WITH CHECK ADD FOREIGN KEY([farm_id])
REFERENCES [dbo].[KoiFarm] ([farm_id])
GO
ALTER TABLE [dbo].[SpecialVariety]  WITH CHECK ADD FOREIGN KEY([variety_id])
REFERENCES [dbo].[Variety] ([variety_id])
GO
ALTER TABLE [dbo].[TripDetail]  WITH CHECK ADD  CONSTRAINT [FK_KoiFarm] FOREIGN KEY([farm_id])
REFERENCES [dbo].[KoiFarm] ([farm_id])
GO
ALTER TABLE [dbo].[TripDetail] CHECK CONSTRAINT [FK_KoiFarm]
GO
ALTER TABLE [dbo].[TripDetail]  WITH CHECK ADD  CONSTRAINT [FK_TripDetail_Trip] FOREIGN KEY([trip_id])
REFERENCES [dbo].[Trip] ([trip_id])
GO
ALTER TABLE [dbo].[TripDetail] CHECK CONSTRAINT [FK_TripDetail_Trip]
GO
USE [master]
GO
